@model TravelTripProje.Models.Siniflar.Blog
@{
    ViewBag.Title = "BlogGetir";
    Layout = "~/Views/Shared/_AdmimLayout.cshtml";
}

<h2>Blok Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("BlogGuncelle","Admin", FormMethod.Post))
{
    <div>
        @Html.LabelFor(x => x.ID)
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control" ,@readonly="readonly"})
    </div>
    <br />
    <div>
        @Html.LabelFor(x => x.Baslik)
        @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    </div>
    <br />

    <div>
        @Html.LabelFor(x => x.Tarih)
        @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    </div>
    <br />
    <div>
        @Html.LabelFor(x => x.Açiklama)
        @Html.TextAreaFor(x => x.Açiklama,9,1, new { @class = "form-control" })
    </div>
    <br />
    <div>
        @Html.LabelFor(x => x.BlogImage)
        @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    </div>
    <br />
    <br />
    <button class="btn btn-success">Blogu Günecelle</button>
}

