@using TravelTripProje.Models.Siniflar
@model List<Yorumlar>
@{
    ViewBag.Title = "YorumListele";
    Layout = "~/Views/Shared/_AdmimLayout.cshtml";
}

<h2>Yorum Listele</h2>


<br />


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KULLANICI ADI</th>
        <th>MAİL</th>
        <th>YORUM</th>
        <th>BLOG ID</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.KullaniciAdi</td>
            <td>@x.Mail</td>
            <td>@x.Yorum</td>
            <td>@x.Blogid</td>
            <td><a href="/Admin/YorumSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/YorumGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>


        </tr>
    }

</table>
